<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>

    <main>
      <form action="/products" method="get">
        <input type="search" name="search" id="search" placeholder="Search for a product" value="<%= searchParam || '' %>">
      </form>
      <% if(productsList && productsList.length!==0 ){ %>
        <h1>All products</h1>
      <%  productsList.forEach(product=>{ %>
        <div data-id="<%= product.id %>">
          <p><%= product.name %></p>
          <p><%= product.category %></p>
          <p><%= product.brand %></p>
          <p><%= product.stock_qty %></p>
          <p>$<%= product.starting_price %></p>
        </div>
      <% })} %>  
    </main>

 <%- include('./partials/nav') %>
  </body>
</html>
