<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>

    <main>
      <form action="/products" method="get">
        <input type="search" name="search" id="search" placeholder="Search for a product" value="<%= searchParam || '' %>">
      </form>
      <a href="/products/create">Add Product</a>
      <% if(productsList && productsList.length!==0 ){ %>
        <h1>All products</h1>
        <p><%= productsList.length %></p>
        <div id="products-container">
        <%  productsList.forEach(product=>{ %>
        <div>
          <p><%= product.name %></p>
          <p><%= product.category %></p>
          <p><%= product.brand %></p>
          <p><%= product.stock_qty %></p>
          <p>$<%= product.starting_price %></p>
          <div>
            <a href="/products/details/<%= product.id %>">View Details</a>
            <a href="/products/update/<%= product.id %>">Update</a>
            <button class="del-product-btn" data-id="<%= product.id %>" type="button">Delete</button>
          </div>
        </div>
      <% }) %>  
        </div>
        <% } %>
    
    </main>

 <%- include('../partials/nav') %>
 <script src="/js/products.js"></script>
  </body>
</html>
